@font-face{
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf');
}
*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.v-height{
    min-height: 71vh;
}

