@font-face{
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf');
}
*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    height: 30px;
    width: 220px;
    font-size: 15px;
}

.v-height{
    min-height: 71vh;
}

